.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 5%;
    height: 100px;
    background-image: linear-gradient(to right, #070714, #070714, #070714);
    width: 100%;
}

.button-theme{
    border: none;
    padding-top: 20px;
    background-color: transparent;
    border-radius: 45%;
    max-width: fit-content;
    max-height: 50px;
}

.theme-mode{
    border-radius: 100px;
    background-color: white;
    max-width: 45px;
    max-height: 45px;
}

.header-logo{
    max-height: 1000px;
    max-width:  1000px;
    border-radius: 50%;
}

